<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Labeler</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="text-center">

<div class="label-view">
    <div class="jumbotron">
        <p>{{ message }}</p>
    </div>

    <form action="/submit_label/{{id}}" method="post">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="submit" class="btn btn-danger" name="label" value="negative">Negative</button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button type="submit" class="btn btn-secondary" name="label" value="neutral">Neutral</button>
            </div>
            <div class="btn-group mr-2" role="group">
                <button type="submit" class="btn btn-success" name="label" value="positive">Positive</button>
            </div>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>